@font-face {
  font-family: future;
  src: url(./fonts/TarrgetAcademyRegular-ABEx.otf);
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: sans-serif;
  background-image: url(./img/background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header-box {
  font-family: future;
  display: flex;
}

.header-title {
  font-size: 50px;
  color: #eee;
  padding: 10px 30px;
}

.game-box {
  display: flex;
  justify-content: space-evenly;
  color: white;
  gap: 500px;
}

.player-box {
  border: 1px solid black;
}

.computer-box {
  border: 1px solid black;
}

footer {
  color: #eee;
  padding: 10px 30px;
}

a:link,
a:visited {
  color: #eee;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
  color: #051883;
}
